/*
    colors Opentheso :
        #43B572 vert (couleur principale)
        #226b40 vert intermédiaire
        #143a1e vert foncé
        #f47b2a orange

        #FAFAFA blanc (couleur de fonds)


*/


/*** MenuButton ***/
.ui-menubutton .ui-widget {
    background: transparent !important; 
    border: transparent !important;
    color: #f47b2a !important;
    box-shadow: none !important;
}

.ui-menu.ui-menu-dynamic {
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
}

.ui-stat-hover .ui-menuitem-link .ui-corner-all .ui-menuitem-active {
    background-color: #f47b2a;
    color: #f47b2a;
}

/*** Dialog ***/
.ui-dialog-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.ui-dialog-title {
    color: #43B572;
}

body .ui-dialog .ui-dialog-content {
    padding: 0 1rem 1rem 1rem !important;
}

body .ui-dialog .ui-dialog-footer {
    padding: 5px !important;
    border-top: 1px solid #858796;
}

/********************************************/

/*** InputText ***/
body .ui-inputfield {
    color: #495057;
    background: #ffffff;
    padding: 4px;
    border: 1px solid #ced4da;
    outline: 0 none;
    font-size: 15px;
    border-radius: 4px;
    appearance: none;
}

body .ui-inputfiled.ui-state-hover {
    border-color: #f47b2a;
}

.ui-inputfiled.ui-state-hover{
    border-color: #f47b2a;
}

/** Autocomplete **/
.ui-autocomplete-input .ui-inputfield .ui-widget .ui-state-default .ui-corner-all .ui-state-hover {
    border: #f47b2a;
}

body .ui-autocomplete-panel .ui-autocomplete-items .ui-autocomplete-item.ui-autocomplete-row > td {
    padding: 6px;
}

body .ui-inputfiled.ui-state-hover {
    border-color: #f47b2a;
}



.input-dialog {
    width: 100%; 
    font-size: 12px; 
    background: white; 
    border-color: #43B572; 
    color: #000;
    border-color: #43B572;
}

/** Switch **/
body .ui-inputswitch.ui-inputswitch-checked {
    background: #dee2e6; /*#43B572 */
}

body .ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-handle {
    background: #f47b2a;
    border-color: #f47b2a;
}


.dialog-titre {
    font-size: 12px; 
    color: black; 
    font-weight: bold;
}

.dropdown-menu-private{
    color: #42a068 !important;
    font-size: 12px;
}

.buttonIconOrange {
    color:#F7A269 !important;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    font-size: 12px !important;
}
.cbLite {
    background: none !important;
    border: none !important;
    height: 20px !important;
    width: 20px !important;
    box-shadow: none !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight {
    background: #f47b2a;
    border-color: #f47b2a;
}

/*** Panel Header ***/
.ui-panel-titlebar {
    background: #f47b2a !important;
}

.ui-panel-title {
    color: #FFF !important;
}


.ui-inputfield {
    margin: 0;
    padding: 5px;
    background: #ffffff;
    font-weight: normal;
    outline: medium none;
    box-shadow: inset 0 0 0 #8f8f8f!important;
    -webkit-box-shadow: inset 0 0 0 #8f8f8f!important;
}


/** SELECTONE MENU **/
.ui-selectonemenu .ui-selectonemenu-label {
    width: 100%;
    border: none;
    display: block;
    cursor: pointer;
    text-align: left;
    overflow: hidden;
    margin-bottom: 0px;
    white-space: nowrap;
    font-weight: normal;    
}

.ui-selectonemenu .ui-selectonemenu-label {
    background-color: transparent;
    border-color: transparent;
    font-size: 12px;
}

.ui-selectonemenu.form-control {
    border-color: transparent !important;
    border: transparent !important;
    height: 43px;
}

.ui-selectonemenu-item.ui-selectonemenu-list-item.ui-state-highlight {
    background: #f47b2a;
}

.ui-selectonemenu-label {
    margin-top: -5px;
     font-size: 12px;
}

.ui-selectonemenu {
    height: 33px;
}

body .ui-selectonemenu-panel .ui-selectonemenu-items .ui-selectonemenu-item.ui-state-highlight {
    background: #f47b2a;
    color: #FFF;
    font-size: 12px;
}

body .ui-selectonemenu-panel .ui-selectonemenu-items {
    font-size: 12px;
}

.ui-selectonemenu .ui-selectonemenu-label.ui-inputfield.ui-corner-all {
    margin-top: 1px;
}

body .ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
}

body .ui-menu .ui-menu-list .ui-menuitem.ui-menuitem-active > .ui-menuitem-link .ui-menuitem-text {
    background: #ecf8f1;
    color: #43B572;
}

body .ui-menu .ui-menu-list .ui-menuitem.ui-menuitem-active > .ui-menuitem-link {
    background: #ecf8f1;
    color: #43B572;
}

.ui-menuitem-link .ui-corner-all .ui-state-hover {
    background: #f47b2a;
}

body .ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link .ui-menuitem-text {
    font-size: 14px;
}

body .ui-selectonemenu-panel .ui-selectonemenu-items .ui-selectonemenu-item.ui-state-hover {
    background: #ecf8f1;
    color: #43B572;
}




body .ui-panel .ui-panel-content {
    background: transparent;
    color: transparent;
    padding: 0rem;
    border: none;
}


/** Tab : multipanel **/
body .ui-tabs.ui-tabs-top > .ui-tabs-nav {
    padding: 0;
    position: relative;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    width: auto;
    font-size: 13px;
}

body .ui-tabs.ui-tabs-top > .ui-tabs-nav li.ui-tabs-header.ui-state-active {
    border-color: #f47b2a;
}

body .ui-tabs .ui-tabs-nav li.ui-tabs-header.ui-state-active a {
    color: #f47b2a;
}


/** Tree **/
.ui-tree {
    padding: 0px;
    border-collapse: collapse;
}

body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-treenode-label.ui-state-highlight {
    background: #f47b2a;
    color: #FFF;
    padding: 0px;
}

.ui-tree .ui-tree-container .ui-treenode .ui-treenode-content {
    margin-top: -13px;
}

.ui-tree .ui-tree-container {
    border-collapse: collapse;
}

body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-tree-toggler {
    margin: 0px;
}

/**
body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-tree-toggler.ui-icon-triangle-1-s {
    font-family: initial !important;
    font-size: initial !important;
}

body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-tree-toggler.ui-icon-triangle-1-e {
    font-family: initial !important;
    font-size: initial !important;
}

body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-tree-toggler.ui-icon-triangle-1-s:before {
    content: "";
}

body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-tree-toggler.ui-icon-triangle-1-e:before {
    content: "";
}**/




.ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link .ui-menuitem-text {
    font-size: 12px;
}

.ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link {
    padding: 0.25rem 0.75rem;
}

.ui-menuitem-link .ui-corner-all .ui-state-hover {
    border-color: #f47b2a;
    background: #f47b2a;
    color: #ffffff;
}



body .ui-button.ui-button-icon-only .ui-button-text {
    padding: 0px;
}

.ui-button-icon-only .ui-button-text {
    padding: 0px;
}


/** Checkbox**/
body .ui-chkbox .ui-chkbox-box.ui-state-active {
    border-color: #f47b2a;
    background: #f47b2a;
    color: #ffffff;
}

body .ui-chkbox .ui-chkbox-box.ui-state-active {
    border-color: #f47b2a;
    background: #f47b2a;
    color: #ffffff;
}

ui-chkbox-box ui-widget ui-corner-all ui-state-default ui-state-active ui-state-hover {
    border-color: #f47b2a;
    background: #f47b2a;
    color: #ffffff;
}

body .ui-chkbox .ui-chkbox-box.ui-state-active {
    border-color: #f47b2a;
    background: #f47b2a;
    color: #ffffff;
}

body .ui-chkbox .ui-chkbox-box .ui-chkbox-icon.ui-icon-check {
    font-family: initial !important;
    font-size: initial !important;
}

body .ui-chkbox .ui-chkbox-box .ui-chkbox-icon.ui-icon-check:before {
    content: "";
}

ui-chkbox-box ui-widget ui-corner-all ui-state-default ui-state-active ui-state-hover {
    border-color: #f47b2a;
    background: #f47b2a;
}

body .ui-chkbox .ui-chkbox-box {
    width: 1rem;
    height: 1rem;
}

body .ui-chkbox .ui-chkbox-box.ui-state-hover {
    border-color: #f47b2a;
}

body .ui-chkbox .ui-chkbox-box.ui-state-active.ui-state-hover {
    border-color: #f47b2a;
    background: #f47b2a;
    background-color: #f47b2a;
}


/** BOUTON **/
.ui-button .ui-widget .ui-state-default .ui-corner-all .ui-button-icon-only {
    width: 5px;
    height: 5px;
}

/** Lien **/
body .ui-commandlink, body .ui-link {
    color: #000;
}

body .ui-commandlink, body .ui-link:hover {
    color: #000;
    text-decoration: none;
}

body .ui-commandlink, body .ui-link:active {
    color: #000;
    text-decoration: none;
}