/*
    colors Opentheso :
        #43B572 vert (couleur principale)
        #226b40 vert intermédiaire
        #143a1e vert foncé
        #f47b2a orange

        #FAFAFA blanc (couleur de fonds)
        #ecf8f1 vert clair

*/


.ui-orderlist .ui-orderlist-list {
    width: 100%;
    height: 500px;
}

/*** MenuButton ***/
.ui-menubutton .ui-widget {
    background: transparent !important;
    border: transparent !important;
    color: #f47b2a !important;
    box-shadow: none !important;
}

.ui-menu.ui-menu-dynamic {
    width: auto;
    padding-left: 5px;
    padding-right: 5px;
}

.ui-stat-hover .ui-menuitem-link .ui-corner-all .ui-menuitem-active {
    background-color: #f47b2a;
    color: #f47b2a;
}

/*** Dialog ***/
.ui-dialog-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.ui-dialog-title {
    color: #43B572;
}

body .ui-dialog .ui-dialog-content {
    padding: 0 1rem 1rem 1rem !important;
}

body .ui-dialog .ui-dialog-footer {
    padding: 5px !important;
    /*border-top: 1px solid #858796;*/
}

/********************************************/

/*** InputText ***/
body .ui-inputfield {
    color: #495057;
    background: #ffffff;
    padding: 4px;
    border: 1px solid #8f8f8f;
    outline: 0 none;
    font-size: 15px;
    border-radius: 4px;
    appearance: none;
    border-color: #43B572;
}

body .ui-inputfield.ui-state-hover {
    border-color: #f47b2a;
}

body .ui-inputfield.ui-state-focus {
    border-color: #43B572;
}


/** Autocomplete **/
.ui-autocomplete-input .ui-inputfield .ui-widget .ui-state-default .ui-corner-all .ui-state-hover {
    border: #f47b2a;
}

body .ui-autocomplete-panel .ui-autocomplete-items .ui-autocomplete-item.ui-autocomplete-row > td {
    padding: 6px;
}

body .ui-inputfiled.ui-state-hover {
    border-color: #f47b2a;
}



.input-dialog {
    width: 100%;
    font-size: 12px;
    background: white;
    border-color: #43B572;
    color: #000;
    border-color: #43B572;
}

/** Switch **/
body .ui-inputswitch.ui-inputswitch-checked {
    background: #dee2e6; /*#43B572 */
}

body .ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-handle {
    background: #f47b2a;
    border-color: #f47b2a;
}

body .ui-toggleswitch.ui-toggleswitch-checked .ui-toggleswitch-slider {
    background: #f47b2a;
    border-color: #f47b2a;
}

.dropdown-menu-private{
    color: #42a068 !important;
    font-size: 12px;
}

.buttonIconOrange {
    color:#F7A269 !important;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    font-size: 12px !important;
}

.cbLite {
    background: none !important;
    border: none !important;
    height: 20px !important;
    width: 20px !important;
    box-shadow: none !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight {
    background: #f47b2a;
    border-color: #f47b2a;
}

/*** Panel Header ***/
body .ui-panel .ui-panel-titlebar {
    border: 5px;
    background: #f47b2a !important;
    color: #495057;
    padding: 0px;
    font-weight: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

body .ui-fileupload .ui-fileupload-buttonbar {
    padding: 0rem;
}

.ui-panel-title {
    color: #FFF !important;
}

/** MESSAGE **/
body .ui-messages > div {
    padding: 1rem;
}


.ui-inputfield {
    margin: 0;
    padding: 5px;
    background: #ffffff;
    font-weight: normal;
    outline: medium none;
    box-shadow: inset 0 0 0 #8f8f8f!important;
    -webkit-box-shadow: inset 0 0 0 #8f8f8f!important;
}


/** SELECTONE MENU **/

body .ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
    font-size: 12px;
}
body .ui-selectonemenu-panel .ui-selectonemenu-items .ui-selectonemenu-item {
    font-size: 12px;
    padding: 0.2rem 0.5rem;
}
body .ui-selectonemenu-panel .ui-selectonemenu-filter-container .ui-selectonemenu-filter.ui-inputfield{
    height: 30px;
}

body .ui-icon {
    font-size: 0.8rem;
}

.ui-selectonemenu .ui-selectonemenu-label {
    width: 100%;
    border: none;
    display: block;
    cursor: pointer;
    text-align: left;
    overflow: hidden;
    margin-bottom: 0px;
    white-space: nowrap;
    font-weight: normal;
}

.ui-selectonemenu .ui-selectonemenu-label {
    background-color: transparent;
    border-color: transparent;
    font-size: 12px;
}

.ui-selectonemenu.form-control {
    border-color: transparent !important;
    border: transparent !important;
    height: 43px;
}

.ui-selectonemenu-item.ui-selectonemenu-list-item.ui-state-highlight {
    background: #f47b2a;
}

.ui-selectonemenu-label {
    margin-top: -5px;
    font-size: 12px;
}

.ui-selectonemenu {
    height: 33px;
}

body .ui-selectonemenu-panel .ui-selectonemenu-items .ui-selectonemenu-item.ui-state-highlight {
    background: #f47b2a;
    color: #FFF;
    font-size: 12px;
}

body .ui-selectonemenu-panel .ui-selectonemenu-items {
    font-size: 12px;
    padding: 0.2rem 0.5rem;
}

.ui-selectonemenu .ui-selectonemenu-label.ui-inputfield.ui-corner-all {
    margin-top: 1px;
}
body .ui-selectonemenu-panel .ui-selectonemenu-items .ui-selectonemenu-item.ui-state-hover {
    background: #ecf8f1;
    color: #43B572;
}








body .ui-panel .ui-panel-content {
    background: transparent;
    /*   color: transparent;*/
    padding: 0rem;
    border: none;
}


/** Tab : multipanel **/
body .ui-tabs.ui-tabs-top > .ui-tabs-nav {
    padding: 0;
    position: relative;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    width: auto;
    font-size: 13px;
}

body .ui-tabs .ui-tabs-nav li.ui-tabs-header {
    padding: 10px;
    margin-top: 3px;
}

body .ui-tabs.ui-tabs-top > .ui-tabs-nav li.ui-tabs-header.ui-state-active {
    border-color: #f47b2a;
}

body .ui-tabs .ui-tabs-nav li.ui-tabs-header.ui-state-active a {
    color: #f47b2a;
}


/** TreeNode **/
body .ui-tree {
    border-collapse: collapse;
    padding: 0.1rem;
    margin-left: -1rem;
    margin-right: -1.8rem;
    margin-top: -0.8rem;
    /* display: ruby-text;*/

}

.ui-tree .ui-treenode {
    margin: -4px;
    min-width: max-content;
}

body .ui-tree .ui-tree-container {
    margin: 0;
    /* padding: 9px !important;
     margin-left: -12px;*/
    border-collapse: collapse;
    display: table;
}
body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-treenode {
    width: 2rem;
    height: 1rem;
    margin: 0 0 0 0;
    margin-top: -5px;
    margin-right: 0px;
    margin-bottom: -5px;
    margin-left: 0px;
}

body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content {
    margin: -4px;
    /*   display: ruby-text;*/
}

body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-treenode-label {
    margin: -3px;
    padding: 1px;
}
body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-treenode-label.ui-state-hover {
    /*background-color: #43B572;
     color: #FFF;*/
}
body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-treenode-label.ui-state-highlight {
    background: #f47b2a;
    color: #FFF;
}


body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-tree-toggler {
    margin: 0px;
}

body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-tree-toggler.ui-icon-triangle-1-s {
    font-size: x-small;
}

body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-tree-toggler.ui-icon-triangle-1-e {
    font-size: x-small;
}

body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-tree-toggler.ui-icon-triangle-1-s:before {
    font-size: x-small;
    margin-right: -15px;

}

body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-tree-toggler.ui-icon-triangle-1-e:before {
    font-size: x-small;
    margin-right: -15px;
}
body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-treenode-leaf-icon {
    width: 2rem;
    height: 2rem;
    margin: 0 0 0 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}


/*
body .ui-tree .ui-tree-container .ui-treenode {
    padding: 0px;
    margin: -4px;
}*/
/** TreeNode **/



/** Menu **/
.ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link .ui-menuitem-text {
    font-size: 12px;
}

.ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link {
    padding: 0.25rem 0.75rem;
}

.ui-menuitem-link .ui-corner-all .ui-state-hover {
    border-color: #f47b2a;
    background: #f47b2a;
    color: #ffffff;
}



/** MENU ITEM**/
body .ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
}

body .ui-menu .ui-menu-list .ui-menuitem.ui-menuitem-active > .ui-menuitem-link .ui-menuitem-text {
    background: #ecf8f1;
    color: #43B572;
}

body .ui-menu .ui-menu-list .ui-menuitem.ui-menuitem-active > .ui-menuitem-link {
    background: #ecf8f1;
    color: #43B572;
}

.ui-menuitem-link .ui-corner-all .ui-state-hover {
    background: #f47b2a;
    color: #43B572;
}

body .ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link .ui-menuitem-text {
    font-size: 12px;
}




body .ui-button.ui-button-text-icon-left .ui-button-text {
    font-size: 14px;
}

body .ui-button.ui-button-text-icon-left .ui-icon {
    font-size: 14px;
}

body .ui-button.ui-button-icon-only .ui-button-text {
    padding: 0px;
}

.ui-button-icon-only .ui-button-text {
    padding: 0px;
}

/** Icons et boutons ronds **/
body .ui-button.ui-button-icon-only .ui-icon {
    margin-top: -0.43rem;
    margin-left: -0.4rem;
}
body .ui-button.rounded-button.ui-button-icon-only {
    height: 1.8rem;
    width: 1.8rem;
}


/** Checkbox**/
body .ui-chkbox .ui-chkbox-box.ui-state-active {
    border-color: #f47b2a;
    background: #f47b2a;
    color: #ffffff;
}

body .ui-chkbox .ui-chkbox-box.ui-state-active {
    border-color: #f47b2a;
    background: #f47b2a;
    color: #ffffff;
}

ui-chkbox-box ui-widget ui-corner-all ui-state-default ui-state-active ui-state-hover {
    border-color: #f47b2a;
    background: #f47b2a;
    color: #ffffff;
}

body .ui-chkbox .ui-chkbox-box.ui-state-active {
    border-color: #f47b2a;
    background: #f47b2a;
    color: #ffffff;
}

body .ui-chkbox .ui-chkbox-box .ui-chkbox-icon.ui-icon-check {
    font-family: initial !important;
    font-size: initial !important;
}

body .ui-chkbox .ui-chkbox-box .ui-chkbox-icon.ui-icon-check:before {
    content: "";
}

ui-chkbox-box ui-widget ui-corner-all ui-state-default ui-state-active ui-state-hover {
    border-color: #f47b2a;
    background: #f47b2a;
}

body .ui-chkbox .ui-chkbox-box {
    width: 1rem;
    height: 1rem;
}

body .ui-chkbox .ui-chkbox-box.ui-state-hover {
    border-color: #f47b2a;
}

body .ui-chkbox .ui-chkbox-box.ui-state-active.ui-state-hover {
    border-color: #f47b2a;
    background: #f47b2a;
    background-color: #f47b2a;
}


/** BOUTON **/
.ui-button .ui-widget .ui-state-default .ui-corner-all .ui-button-icon-only {
    width: 5px;
    height: 5px;
}

/** Lien **/
body .ui-commandlink, body .ui-link {
    color: #000;
}

body .ui-commandlink, body .ui-link:hover {
    color: #000;
    text-decoration: none;
}

body .ui-tooltip .ui-tooltip-text {
    background-color: #0f6848;
    color: #fff;
    font-size: 12px;
}

/* #MR pour définir la couleur des liens hypertextes */
body .ui-commandlink, body .ui-link:active {
    color: #601e18;
    text-decoration: none;
    font-size: 14px;
}

/** Radio Button **/
body .ui-radiobutton .ui-radiobutton-box.ui-state-active .ui-icon-bullet {
    background-color: #f47b2a;
}

body .ui-radiobutton .ui-radiobutton-box.ui-state-active {
    border-color: #f47b2a;
    background: #f47b2a;
    color: #f47b2a;
}

body .ui-radiobutton .ui-radiobutton-box.ui-state-hover {
    border-color: #f47b2a;
}


/** selectoneradio **/
.ui-selectoneradio label {
    color: #000;
}

/** WIZAR **/
body .ui-wizard .ui-wizard-step-titles .ui-wizard-step-title.ui-state-highlight {
    background: #f47b2a;
    color: #FFF;
}

body .ui-wizard .ui-wizard-step-titles .ui-wizard-step-title {
    border: 1px solid #dee2e6;
    font-weight: bold;
    font-size: 14px;
    background: #f8f9fa;
    color: #495057;
    padding: 7px;
    margin: 0;
    border-right: 0 none;
    border-radius: 0;
}

/** BUTTON **/
body .ui-button {
    background: #f47b2a;
    color: #ffffff;
    border: 1px solid #f47b2a;
    margin: 0;
    outline: 0 none;
    border-radius: 4px;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

/** accordion  **/
body .ui-accordion .ui-accordion-header {
    border: none;
    border-top: none;
    padding: 5px;
}

body .ui-accordion .ui-accordion-header.ui-state-hover {
    border: none;
    background: #ecf8f1;
    color: #43B572;
}

body .ui-accordion .ui-accordion-header.ui-state-active {
    border-color: #f47b2a;
    background: #f47b2a;
    color: #FFF;
}

body .ui-accordion .ui-accordion-content {
    padding: auto;
}

/*  DATATABLE */


body .ui-datatable .ui-datatable-data > tr > td {
    padding: 5px 5px;
}

body .ui-datatable.ui-datatable-sm .ui-datatable-data > tr > td {
    padding: 5px 5px;
}

body .ui-datatable thead th {
    background: #ecf8f1;
    color: #43B572;
    padding: 7px 7px;
    border: 1px solid #f47b2a;
    border-width: 0 0 1px 0;
    text-align: left;
    font-size: 13px;
    box-sizing: content-box;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

body .ui-datatable .ui-datatable-footer {
    background: #ecf8f1;
    border: 1px solid #f47b2a;
    border-width: 1px 0 0 0;
    color: #43B572;
    padding: 7px 7px;
    font-weight: 600;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

body .ui-datatable .ui-datatable-data > tr.ui-state-highlight {
    background: #ecf8f1;
    color: #43B572;
    border: 1px solid #ecf8f1;
}

body .ui-datatable .ui-datatable-header {
    background: #ecf8f1;
    border: 1px solid #ecf8f1;
    border-width: 1px 0 1px 0;
    color: #495057;
    padding: 5px;
    font-weight: 600;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

body .ui-datatable thead th.ui-state-active {
    background: #ecf8f1;
    background-color: #ecf8f1;
    color: #43B572;
}

body .ui-datatable thead th.ui-state-hover {
    background: #ecf8f1;
    background-color: #ecf8f1;
    color: #43B572;
}

body .ui-datatable thead th.ui-state-focus{
    background: #ecf8f1;
    background-color: #ecf8f1;
    color: #43B572;
}

body .ui-datatable thead th.ui-state-highlight{
    background: #ecf8f1;
    background-color: #ecf8f1;
    color: #43B572;
}




/* Toolbar */
body .ui-toolbar {
    border: 1px solid #43B572;
    padding: 7px;
}

/* DataList */
body .ui-datalist .ui-datalist-header, body .ui-datalist .ui-datalist-footer {
    background: #ecf8f1;
    border: 1px solid #43B572;
    color: #43B572;
    padding: 0rem;
    font-weight: 700;
}

body .ui-datalist .ui-datalist-content {
    padding: 0.5rem;
}

.ui-growl {
    font-size: 14px;
}

.ui-growl-message {
    font-size: 14px;
}

/** Gallery  **/
body .custom-indicator-galleria .ui-galleria-indicators {
    padding: 1rem .25rem 1rem 0;
}

body .custom-indicator-galleria .ui-galleria-indicator {
    width: 100%;
    text-align: right;
    font-weight: bold;
    padding: .357rem .75rem .357rem .75rem;
    margin-bottom: 0 !important;
}

body .custom-indicator-galleria .ui-galleria-indicator {
    color: #e9ecef;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

body .custom-indicator-galleria .ui-galleria-indicator.ui-state-highlight {
    background-color: var(--primary-color);
    color: var(--primary-color-text);
}

body .ui-sidebar .ui-sidebar-close .ui-icon {
    font-family: "primeicons" !important;
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    background: none;
    color: red;
}
