#######################
# Server Configuration
#######################

server:
  port: 8099
  forward-headers-strategy: native
  servlet:
    context-path: /
    session:
      timeout: 120m
  error:
    path: /errorPages/error500.xhtml
    whitelabel:
      enabled: false

primefaces:
  uploader: native

app:
  security:
    keycloak-enabled: false  # ou false pour désactiver
  neo4j:
    enabled: false

management:
  health:
    neo4j:
      enabled: false

spring:
  application:
    name: opentheso

  # Connexion de KeyCloak
  security:
    oauth2:
      client:
        registration:
          keycloak:
            client-id: opentheso
            client-secret:
            provider: keycloak
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/keycloak"
            scope: openid, profile, email
        provider:
          keycloak:
            issuer-uri: https://login.espadon.net/realms/espadon


  servlet:
    multipart:
      enabled: true
      max-file-size: 100MB  # Définit la taille max d'un fichier
      max-request-size: 100MB  # Taille totale max de la requête
  datasource:
    url: jdbc:postgresql://localhost:5433/basevide
    password: opentheso
    username: opentheso
  jpa:
    show-sql: false
    generate-ddl: true
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
  liquibase:
    enabled: true
    change-log: classpath:/changelog/db.changelog.xml
  graphql:
    graphiql:
      enabled: true
      path: /graphiql
      endpoint: /graphql

settings:
  workLanguage: fr

certificats:
  admpriv: ./certificats/admpriv.bin
  cacerts2: ./certificats/cacerts2
  key: ./certificats/key.p12

smpt:
  protocol: smtp
  hostname: smtprelay.mondomaine.fr
  portNumber: 25
  authorization: false
  mailFrom: opentheso@mondomaine.fr
  transportMail: smtp

neo4j:
  serverName: localhost
  serverPort: 7687
  databaseName: neo4j
  user: neo4j
  password: neo4j1234

ldap:
  security:
    authentication: simple
  server:
    url: ldapr3.mondomaine.fr
  initial:
    context:
      factory: com.sun.jndi.ldap.LdapCtxFactory
  key:
    store:
      password: changeit
      path: /usr/lib/jvm/java-11-openjdk-amd64/lib/security/cacerts
    trust:
      password: changeit
      path: /usr/lib/jvm/java-11-openjdk-amd64/lib/security/cacerts

