#######################
# Server Configuration
#######################

server:
  port: 8099
  forward-headers-strategy: native
  servlet:
    context-path: /
    session:
      timeout: 30m
  error:
    path: /errorPages/error500.xhtml
    whitelabel:
      enabled: false

primefaces:
  uploader: native

# déconnexion de KeyCloak
app:
  keycloak:
    realm: opentheso-local
    server-url: http://localhost:8080
    client-id: opentheso-client
    post-logout-redirect-uri: http://localhost:8099/  # URL de redirection après déconnexion
spring:
  # Connexion de KeyCloak
  security:
    oauth2:
      client:
        registration:
          keycloak:
            client-id: opentheso-client
            client-secret: i5q8WdlJgOrydXK9pNtWJFvPCQVuf53v
            provider: keycloak
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/keycloak"
            scope: openid, profile, email
        provider:
          keycloak:
            issuer-uri: http://localhost:8080/realms/opentheso-local
  servlet:
    multipart:
      enabled: true
      max-file-size: 100MB  # Définit la taille max d'un fichier
      max-request-size: 100MB  # Taille totale max de la requête
  datasource:
    url: jdbc:postgresql://localhost:5433/opentheso2
    password: opentheso
    username: opentheso
    hikari:
      maximum-pool-size: 50
      connection-timeout: 10000
      idle-timeout: 30000
  jpa:
    show-sql: false
    generate-ddl: true
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
  liquibase:
    enabled: true
    change-log: classpath:/changelog/db.changelog.xml
  graphql:
    path: /graphql # Chemin de l'API GraphQL
    graphiql:
      enabled: true # Active l'interface graphiql pour tester les requêtes
      path: /graphiql # Chemin de l'interface graphiql
    schema:
      printer:
        enabled: false # Active l'impression du schéma au démarrage dans les logs

settings:
  workLanguage: fr

certificats:
  admpriv: /Users/miledrousset/NetBeansProjects22/Opentheso/src/main/resources/certificats/admpriv.bin
  cacerts2: /Users/miledrousset/NetBeansProjects22/Opentheso/src/main/resources/certificats/cacerts2
  key: /Users/miledrousset/NetBeansProjects22/Opentheso/src/main/resources/certificats/key.p12

smpt:
  protocol: smtp
  hostname: smtprelay.cnrs.fr
  portNumber: 25
  authorization: false
  mailFrom: opentheso@mom.fr
  transportMail: smtp

neo4j:
  serverName: localhost
  serverPort: 7687
  databaseName: neo4j
  user: neo4j
  password: neo4j1234

ldap:
  security:
    authentication: simple
  server:
    url: ldapr3.huma-num.fr
  initial:
    context:
      factory: com.sun.jndi.ldap.LdapCtxFactory
  key:
    store:
      password: changeit
      path: /usr/lib/jvm/java-11-openjdk-amd64/lib/security/cacerts
    trust:
      password: changeit
      path: /usr/lib/jvm/java-11-openjdk-amd64/lib/security/cacerts
