html,
body {
    width: 100vw;
    max-height: 100vh;
    margin: 0px 0px 0px 0px;
    padding: 0 0 0 0;
    overflow: hidden;
}

.hide-label {
    display: none;
}

.legend-row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
}

.danger-text {
    color: #cb0000;
    font-weight: bold;
}

.show-settings {
    transform: translateX(1000px);
}
