/*
Creator Miled Rousset
    colors Opentheso :
        #43B572 vert (couleur principale)
        #226b40 vert intermédiaire
        #143a1e vert foncé
        #f47b2a orange

        #FF7979 couleur rouge des alertes
        #F49F66 couleur orange des infos

        #FAFAFA blanc (couleur de fonds)

        #C63632 rouge bordeau
        #666666 gris de texte non cliquable
        

        #F7A269 orange des actions
        
        #FFC107 Jaune pour Annuler cancel sur fond black
        
        
        #B3DDC4 couleur des options dans les modules (vert clair su fond vert)


*/

.dropdown-menu-private{
    color: #42a068 !important;
    font-size: 12px;
}


/* radio button */
.ui-radiobutton-icon {
    background: none !important;
    color: #42a068  !important;
}
selected_one_radio_custom {
    font-size: 12px !important;
    font-weight: normal !important;
    color: #42a068 !important;
}


/* selectOneMenu */
.selectOneMenu_custom.ui-selectonemenu .ui-selectonemenu-label {
    font-size: 12px;
}
.selectOneMenu_panelStyle_custom .ui-selectonemenu-list { 
    font-size: 12px !important;
}
.selectOneMenu_custom.ui-selectonemenu .ui-selectonemenu-trigger {
      height: 25px !important; 
      font-size: 12px !important;
 }



textOpentheso
{
    font-size:12px;
}


/*
{
    height:100%;
    font-size:12px;
    margin:3px 8px 0 0;
    padding:0;
}*/

.buttonIconOrange {
    color:#F7A269 !important;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    font-size: 12px !important;
}

.ui-icon-fr {
    background:  url("../images/fr.png") no-repeat !important;
    border-radius: 0px !important;
}

.ui-icon-fr2 {
    background: url("../images/fr.png") no-repeat top left !important;
    height: 25px;
    width: 25px;
    border-radius: 0px !important;
}
.ui-icon-en {
    background: url("../images/en.png") no-repeat top left !important;
    height: 25px;
    width: 25px;
    border-radius: 0px !important;
}
.ui-icon-es {
    background: url("../images/es.png") no-repeat top left !important;
    height: 25px;
    width: 25px;
    border-radius: 0px !important;
}
.ui-icon-de {
    background: url("../images/de.png") no-repeat top left !important;
    height: 25px;
    width: 25px;
    border-radius: 0px !important;
}

.cbLite {
    background: none !important;
    border: none !important;
    height: 20px !important;
    width: 20px !important;
    box-shadow: none !important;
}


/* pour le dropMenu*/

.downwards .dropdown-submenu>.dropdown-menu {
left: auto;
right: 100%;
margin-left: 0;
margin-right: -1px;
      }

/* This will target all children, but what about children of .dropdown-submenu.pull-right? */
.pull-right .dropdown-submenu > .dropdown-menu,
.dropdown-submenu.pull-left > .dropdown-menu {
left: auto;
right: 100%;
margin-left: 0;
margin-right: -1px;
}

/* Will need a pull-right override - should this be a normal selector to target all future .dropdown-menu? */
.dropdown-submenu.pull-right > .dropdown-menu {
  left: 100%;
  right: auto;
  margin-left: -1px;
  margin-right: 0;
}

.tab1 {
    background-color: #ecf8f1 !important;
    color: white;
}

.tab1:active {
    background-color: #F47B2A !important;
    color: white;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
    background-color: #F47B2A !important;
    color: white;
}

.ui-widget-header {
    color: white;
    background: #43B572;
    background-color: #43B572;
}