/*
Creator Miled Rousset
    colors Opentheso :
        #43B572 vert (couleur principale)
        #226b40 vert intermédiaire
        #143a1e vert foncé
        #f47b2a orange

        #FAFAFA blanc (couleur de fonds)


*/



/***********************************Nouvelle css / fontawesome et PrimeIcons***********************************/
/* #MR */

.fa_custom_open {
    color: #42a068 !important;
    font-size: 12px !important;
}
.fa_custom_collapse {
    color: #f47b2a !important;
    font-size: 12px !important;
}
.fa_custom_file{
    color: #f47b2a !important;
    font-size: 12px !important;
}


/*Tree Groups */
.far_custom_open {
    color: #42a068 !important;
    font-size: 12px !important;    
}
.far_custom_collapse {
    color:  #f47b2a !important;
    font-size: 12px !important;    
}
.far_custom_file{
    color: #f47b2a !important;
    font-size: 12px !important;    
}


/***********************************Fin Nouvelle css / fontawesome et PrimeIcons***********************************/


/*pour la table de listes */
/*
.ui-datatable.borderless .ui-datatable-data tr,
.ui-datatable.borderless .ui-datatable-data-empty tr,
.ui-datatable.borderless .ui-datatable-data td,
.ui-datatable.borderless .ui-datatable-data-empty td {
    border-style: none;
    border-collapse: collapse;
    border: none;
    box-shadow: none;
    font-size: 12px;
    background-image: none !important;
}*/
