/*
Creator Miled Rousset
    colors Opentheso :
        #43B572 vert (couleur principale)
        #226b40 vert intermédiaire
        #143a1e vert foncé
        #f47b2a orange

        #FAFAFA blanc (couleur de fonds)


*/

.separator{
    background-color: #FAEDE5;
    border-color:#FAEDE5;
}
