/*
    colors Opentheso :
        #43B572 vert (couleur principale)
        #226b40 vert intermédiaire
        #143a1e vert foncé
        #f47b2a orange

        #FAFAFA blanc (couleur de fonds)


*/
element {
  --vert-principale: #43B572;
  --vert-intermediaire: #226b40;
  --vert-fonce: #143A1E;
  --orange: #F47B2A;
  --couleur-fonds: #FAFAFA;
}


@font-face {
    font-family: openthesoFont;
    src: url(fonts/FreeSans.ttf);
}

.tabCostum {    
    background: var(--vert-principale);
    border: var(--vert-principale);
    font-family: openthesoFont;
}

.tabCostum.ui-state-highlight {    
    background: var(--orange);
    border: var(--orange);
    font-family: openthesoFont;
}

.ui-widget-header {
    background: var(--vert-principale);
    border: var(--vert-principale);
    font-family: openthesoFont;
    color: white;
} 

.button-standard {
    background: #43B572 !important;
    border: #43B572;
    font-family: openthesoFont;
}

button-standard:active{
    background: #F47B2A;
}

button-standard:focus{
    background: #F47B2A;
}