/*
    colors Opentheso :
        #43B572 vert (couleur principale)
        #226b40 vert intermédiaire
        #143a1e vert foncé
        #f47b2a orange

        #FAFAFA blanc (couleur de fonds)
        #ecf8f1 vert clair
*/

.scrollable-editor .ql-editor {
    max-height: 200px; /* Ajustez selon vos besoins */
    overflow-y: auto;
}

body .ui-tabs .ui-tabs-panels .ui-tabs-panel {
    padding-left: 0rem;
    padding-right: 0rem;
}

body .ui-fileupload .ui-fileupload-buttonbar .ui-button.ui-fileupload-choose .ui-icon:before {
    content: " ";
}

body .ui-datatable thead th.ui-state-active.ui-state-hover {
    color: #43B572;
}

body .ui-button.ui-button-text-icon-left .ui-button-text {
    padding: 0rem 0rem 0rem 0rem;
}

/* private override */
.browserbutton .ui-button {
    padding: 0.3rem !important; 
}

body .ui-selectonemenu .ui-selectonemenu-trigger .ui-icon {
  font-size: 0.8rem;
}


.ui-orderlist .ui-orderlist-list {
    width: 100%;
    height: 500px;
}

/*** MenuButton ***/
body .ui-menubutton .ui-widget {
    background: transparent !important;
    border: transparent !important;
    color: #f47b2a !important;
    box-shadow: none !important;
    padding-left: 35px;
}

body .ui-widget {
    font-size: 0.8rem;
}

body .ui-selectonemenu-panel .ui-selectonemenu-filter-container .ui-icon:before {
    content: "";
}

body .ui-selectonemenu-panel .ui-selectonemenu-filter-container {
    padding: 0.4rem 0.4rem;
}
            
body .ui-selectonemenu-panel .ui-selectonemenu-filter-container .ui-selectonemenu-filter.ui-inputfield {
    padding: 3px
}

body .ui-stat-hover .ui-menuitem-link .ui-corner-all .ui-menuitem-active {
    background-color: #495057;
    color: #495057;
}

.ui-filter-column .ui-column-customfilter .custom-filter {
    width: 100%;
    box-sizing: border-box;
}




/****************** Dialog /******************/
.ui-dialog-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.ui-dialog-title {
    color: #43B572;
}

body .ui-dialog .ui-dialog-content {
    padding: 0rem 1rem 1rem 1rem;
}

body .ui-dialog .ui-dialog-titlebar {
    padding: 1rem 1rem 1rem 1rem;
}

.input-dialog {
    width: 100%;
    font-size: 12px;
    background: white;
    border-color: #43B572;
    color: #000;
    border-color: #43B572;
}

/********************************************/

/*** InputText ***/
body .ui-inputfield {
    vertical-align: central;
    outline: 0 none;
    border-radius: 4px;
    appearance: none;
    padding: 0.2rem 0.5rem;
}

body .ui-inputfield.ui-state-hover {
    border-color: #f47b2a;
}

body .ui-inputfield.ui-state-focus {
    border-color: #43B572;
}

body .ui-inputfield.ui-state-focus {
    box-shadow: 0 0 0 0.1em #f47b2a;
    border-color: #f47b2a;
}

/************************** selectonemenu **************************/

body .ui-selectonemenu {
    padding: 0px;
    outline: 0 none;
    border-radius: 4px;
    appearance: none;
    font-size: 12px;
    color: #43B572;
}

body .ui-selectonemenu .ui-selectonemenu-label {
    background: transparent;
    padding-right: -20px;
    min-height: 0px;
    margin-top: -1px;
    font-size: 0.8rem;
    color: #601e18;
}

body .ui-selectonemenu.ui-state-hover {
    border-color: #F47B2A;
}

body .ui-selectonemenu.ui-state-focus {
    border-color: #43B572;
}

body .ui-selectonemenu-panel .ui-selectonemenu-items .ui-selectonemenu-item {
 /*   padding: 0.3rem 0.5rem;*/
    font-size: 12px;
}

body .ui-selectonemenu-panel .ui-selectonemenu-items .ui-selectonemenu-item.ui-state-highlight {
    background: #F47B2A;
    color: #FFF;
  /*  overflow: auto;*/
/*    font-weight: bold;*/
}

body .ui-selectonemenu-panel .ui-selectonemenu-items .ui-selectonemenu-item.ui-state-hover {
    background: #ECF8F1;
    color: #143a1e;
 /*   overflow: auto;*/
}

/**********************************************************************/


/**********************************************************************/
/** Switch **/
body .ui-inputswitch.ui-inputswitch-checked {
    background: #dee2e6; /*#43B572 */
}

body .ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-handle {
    background: #f47b2a;
    border-color: #f47b2a;
}

body .ui-toggleswitch.ui-toggleswitch-checked .ui-toggleswitch-slider {
    background: #f47b2a;
    border-color: #f47b2a;
}

.dropdown-menu-private{
    color: #42a068 !important;
    font-size: 12px;
}

.cbLite {
    background: none !important;
    border: none !important;
    height: 20px !important;
    width: 20px !important;
    box-shadow: none !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight {
    background: #f47b2a;
    border-color: #f47b2a;
}
/**********************************************************************/


/**********************************************************************/
/*** Panel Header ***/
body .ui-panel .ui-panel-titlebar {
    border: 5px;
    background: #f47b2a !important;
    color: #495057;
    padding: 0px;
    font-weight: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

body .ui-fileupload .ui-fileupload-buttonbar {
    padding: 0rem;
}

.ui-panel-title {
    color: #FFF !important;
}

/** MESSAGE **/
body .ui-messages > div {
    padding: 1rem;
}

body .ui-panel .ui-panel-content {
    background: transparent;
    /*   color: transparent;*/
    padding: 0rem;
    border: none;
}


/**********************************************************************/
/** Menu **/
.ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link .ui-menuitem-text {
    font-size: 12px;
}

.ui-menuitem-link .ui-corner-all .ui-state-hover {
    border-color: #f47b2a;
    background: #f47b2a;
    color: #ffffff;
}

body .ui-menu {
    padding: 0.25rem;
    width: auto;
}

/**********************************************************************/


/**********************************************************************/
/** MENU ITEM**/
body .ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 6px;
    padding-right: 6px;
}

body .ui-menu .ui-menu-list .ui-menuitem.ui-menuitem-active > .ui-menuitem-link .ui-menuitem-text {
    background: #ecf8f1;
    color: #43B572;
}

body .ui-menu .ui-menu-list .ui-menuitem.ui-menuitem-active > .ui-menuitem-link {
    background: #ecf8f1;
    color: #43B572;
}

.ui-menuitem-link .ui-corner-all .ui-state-hover {
    background: #f47b2a;
    color: #43B572;
}

body .ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link .ui-menuitem-text {
    font-size: 12px;
}

/**********************************************************************/

/** Checkbox**/
body .ui-chkbox .ui-chkbox-box.ui-state-active {
    border-color: #f47b2a;
    background: #f47b2a;
    color: #ffffff;
}

body .ui-chkbox .ui-chkbox-box.ui-state-active {
    border-color: #f47b2a;
    background: #f47b2a;
    color: #ffffff;
}

ui-chkbox-box ui-widget ui-corner-all ui-state-default ui-state-active ui-state-hover {
    border-color: #f47b2a;
    background: #f47b2a;
    color: #ffffff;
}

body .ui-chkbox .ui-chkbox-box.ui-state-active {
    border-color: #f47b2a;
    background: #f47b2a;
    color: #ffffff;
}

body .ui-chkbox .ui-chkbox-box .ui-chkbox-icon.ui-icon-check {
    font-family: initial !important;
    font-size: initial !important;
}

body .ui-chkbox .ui-chkbox-box .ui-chkbox-icon.ui-icon-check:before {
    content: "";
}

ui-chkbox-box ui-widget ui-corner-all ui-state-default ui-state-active ui-state-hover {
    border-color: #f47b2a;
    background: #f47b2a;
}

body .ui-chkbox .ui-chkbox-box {
    width: 1rem;
    height: 1rem;
}

body .ui-chkbox .ui-chkbox-box.ui-state-hover {
    border-color: #f47b2a;
}

body .ui-chkbox .ui-chkbox-box.ui-state-active.ui-state-hover {
    border-color: #f47b2a;
    background: #f47b2a;
    background-color: #f47b2a;
}

/** Lien **/
body .ui-commandlink, body .ui-link {
    color: #000;
}

body .ui-commandlink, body .ui-link:hover {
    color: #000;
    text-decoration: none;
}

body .ui-tooltip .ui-tooltip-text {
    background-color: #0f6848;
    color: #fff;
    font-size: 12px;
}

/* #MR pour définir la couleur des liens hypertextes */
body .ui-commandlink, body .ui-link:active {
    color: #601e18;
    text-decoration: none;
    font-size: 14px;
}

/** Radio Button **/
body .ui-radiobutton .ui-radiobutton-box.ui-state-active .ui-icon-bullet {
    background-color: #f47b2a;
}

body .ui-radiobutton .ui-radiobutton-box.ui-state-active {
    border-color: #f47b2a;
    background: #f47b2a;
    color: #f47b2a;
}

body .ui-radiobutton .ui-radiobutton-box.ui-state-hover {
    border-color: #f47b2a;
}


/** selectoneradio **/
.ui-selectoneradio label {
    color: #000;
}

/** WIZAR **/
body .ui-wizard .ui-wizard-step-titles .ui-wizard-step-title.ui-state-highlight {
    background: #f47b2a;
    color: #FFF;
}

body .ui-wizard .ui-wizard-step-titles .ui-wizard-step-title {
    border: 1px solid #dee2e6;
    font-weight: bold;
    font-size: 14px;
    background: #f8f9fa;
    color: #495057;
    padding: 7px;
    margin: 0;
    border-right: 0 none;
    border-radius: 0;
}

/** BUTTON **/
body .ui-button {
    background: #f47b2a;
    color: #ffffff;
    border: 1px solid #f47b2a;
    margin: 0;
    outline: 0 none;
    border-radius: 4px;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

/*  DATATABLE */
body .ui-datatable .ui-datatable-data > tr > td {
    padding: 5px 5px;
}

body .ui-datatable.ui-datatable-sm .ui-datatable-data > tr > td {
    padding: 5px 5px;
}

body .ui-datatable thead th {
    background: #ecf8f1;
    color: #43B572;
    padding: 7px 7px;
    border-width: 0 0 0 0;
    text-align: left;
    font-size: 13px;
    box-sizing: content-box;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

body .ui-datatable .ui-datatable-footer {
    background: #ecf8f1;
    color: #43B572;
    padding: 7px 7px;
    font-weight: 600;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

body .ui-datatable .ui-datatable-data > tr.ui-state-highlight {
    background: #ecf8f1;
    color: #43B572;
    border: 1px solid #ecf8f1;
}

body .ui-datatable .ui-datatable-header {
    background: #43B572;
    border: 1px solid #43B572;
    border-width: 1px 0 1px 0;
    color: #FFF;
    padding: 5px;
    font-weight: 600;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

body .ui-datatable thead th.ui-state-active {
    background: #ecf8f1;
    background-color: #ecf8f1;
    color: #43B572;
}

body .ui-datatable thead th.ui-state-hover {
    background: #ecf8f1;
    background-color: #ecf8f1;
    color: #43B572;
}

body .ui-datatable thead th.ui-state-focus{
    background: #ecf8f1;
    background-color: #ecf8f1;
    color: #43B572;
}

body .ui-datatable thead th.ui-state-highlight{
    background: #ecf8f1;
    background-color: #ecf8f1;
    color: #43B572;
}

body .ui-datatable.ui-datatable-striped .ui-datatable-data>tr.ui-datatable-odd {
    background: #ecf8f1;
}



/* Toolbar */
body .ui-toolbar {
    border: 1px solid #43B572;
    padding: 7px;
}

/* DataList */
body .ui-datalist .ui-datalist-header, body .ui-datalist .ui-datalist-footer {
    background: #ecf8f1;
    border: 1px solid #43B572;
    color: #43B572;
    padding: 0rem;
    font-weight: 700;
}

body .ui-datalist .ui-datalist-content {
    padding: 0.5rem;
}

.ui-growl {
    font-size: 14px;
}

.ui-growl-message {
    font-size: 14px;
}

/** Gallery  **/
body .custom-indicator-galleria .ui-galleria-indicators {
    padding: 1rem .25rem 1rem 0;
}

body .custom-indicator-galleria .ui-galleria-indicator {
    width: 100%;
    text-align: right;
    font-weight: bold;
    padding: .357rem .75rem .357rem .75rem;
    margin-bottom: 0 !important;
}

body .custom-indicator-galleria .ui-galleria-indicator {
    color: #e9ecef;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.2s, color 0.2s;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

body .custom-indicator-galleria .ui-galleria-indicator.ui-state-highlight {
    background-color: var(--primary-color);
    color: var(--primary-color-text);
}

body .ui-sidebar .ui-sidebar-close .ui-icon {
    font-family: "primeicons" !important;
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    background: none;
    color: red;
}

.sidebar.toggled {
    overflow: visible;
    width: 3rem !important;
    align-items: center;
}

.sidebar.toggled .nav-item .nav-link {
    text-align: center;
    padding: 0.75rem 1rem;
    width: 4.5rem;
}

.sidebar.toggled .nav-item .collapse {
    position: absolute;
    left: calc(5.5rem + 1.5rem / 2);
    z-index: 1;
    top: 2px;
    animation-name: growIn;
    animation-duration: 200ms;
}


/* badge */
body .ui-badge {
    background: #ff0000;
    color: #ffffff;
    font-size: 0.6rem;
    font-weight: 700;
    min-width: 1rem;
    height: 1rem;
    line-height: 1rem;
}


body .ui-overlay-badge .ui-badge {
    position: absolute;
    top: 5px;
    right: -2px;
    transform: translate(50%, -50%);
    margin: 0;
    font-size: 0.6rem;
}

body .ui-button.rounded-button.ui-button-icon-only {
    border-radius: 50%;
    height: 1.8rem;
    width: 1.8rem;
    margin-top: 3px;
}

element.style {
    width: 100%;
    height: 100%;
/*    overflow: overlay;*/
    border: none;
    padding: -10px;
}

body .ui-button.ui-button-text-only .ui-button-text {
    padding: 0.3rem 0.4rem;
}

body .ui-selectbooleanbutton.ui-state-active, body .ui-selectonebutton > .ui-button.ui-state-active, body .ui-selectmanybutton > .ui-button.ui-state-active {
    background: #f47b2a;
    border-color: #f47b2a;
    color: #ffffff;
}

body .ui-selectbooleanbutton.ui-state-active, body .ui-selectonebutton > .ui-button.ui-state-active, body .ui-selectmanybutton > .ui-button.ui-state-active {
    background: #f47b2a;
    border-color: #f47b2a;
    color: #ffffff;
}

body .ui-state-hover .ui-state-focus .ui-state-active .ui-state-default .ui-state-highlight {
    background: #f47b2a;
    color: #ffffff;
    border: 1px solid #f47b2a;
    margin: 0;
    outline: 0 none;
    border-radius: 4px;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

footer.sticky-footer {
    padding: 1.2rem 0;
}

body .ui-button.ui-button-text-only .ui-button-text {
    font-size: 12px;
}


body .ui-tabs.ui-tabs-top > .ui-tabs-nav {
    padding: 0;
    position: relative;
    display: -ms-flexbox;
    -ms-flex-wrap: wrap;
    width: auto;
    font-size: 13px;
}

body .ui-tabs .ui-tabs-nav li.ui-tabs-header {
    padding: 10px;
    margin-top: 3px;
}

body .ui-tabs.ui-tabs-top > .ui-tabs-nav li.ui-tabs-header.ui-state-active {
    border-color: #f47b2a;
}

body .ui-tabs .ui-tabs-nav li.ui-tabs-header.ui-state-active a {
    color: #f47b2a;
}

/** Tree **/
body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content.ui-state-highlight {
    background: #ecf8f1;
    color: #143a1e;
    font-weight: bold;
}


body .ui-tree {
    padding: 0;
    font-size: 0.8rem;
/*    display: table;*/
}

.ui-tree .ui-tree-container {
    overflow: hidden;
    font-size: 0.8rem;
    /* pour permettre d'écrire des lignes longues sans déformer l'abre*/
    display: table;
}

body .ui-tree .ui-tree-container .ui-treenode {
    padding: 0em 0;
}

body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content {
    height: 23px;
    font-size: 0.8rem;
}

body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content.ui-state-highlight{
    padding: 0em 0;
    font-size: 0.8rem;
}

body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-tree-toggler {
    margin: 0 0.3rem 0 0;
    font-size: 0.8rem;
}

body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content.ui-state-highlight .ui-tree-toggler,
body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content.ui-state-highlight .ui-treenode-icon {
    color: #f47b2a;
    font-size: 0.8rem;
}

body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-tree-toggler.ui-icon-triangle-1-s {
    color: #f47b2a;
    font-size: 0.7rem;
}

body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-tree-toggler.ui-icon-triangle-1-e:before {
    color: #F47B2A;
    padding: 0;
    font-size: 0.7rem;
}

/* Espacement entre elements */
/*.ui-tree-droppoint {
    height: 0px;
}*/

/* Espacement entre sous elements */
body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-treenode-icon {
    margin: 0 0.25rem 0 0;
    margin-left: -10px;
}

/**Button*/
.ui-button-success {
    background-color: #F47B2A !important;
    border-color: #F47B2A !important;
    font-size: 30px !important;
    padding: 0.5rem 1rem 0.5rem 2rem;
}

.ui-button-success:hover {
    background-color: #E45C00 !important;
    border-color: #E45C00 !important;
}

.ui-button-success:active {
    background-color: #8A3B05 !important;
    border-color: #8A3B05 !important;
    font-weight: bold;
}

/**Button for translate*/
.ui-button-success-private {
    background-color: #FFEBCD !important;
    border-color: #226b40 !important;
    font-size: 30px !important;
    padding: 0.5rem 1rem 0.5rem 2rem;
}

.ui-button-success-private:hover {
    background-color: #689f38 !important;
    border-color: #000 !important;
}

.ui-button-success-private:active {
    background-color: #226b40 !important;
    border-color: #FFEBCD !important;
    font-weight: bold;
}

.ui-button-danger-private {
    background-color: #D32F2F !important;
    border-color: #D32F2F !important;
    font-size: 30px !important;
    padding: 0.5rem 1rem 0.5rem 2rem;
}
.ui-button-danger-private:hover {
    background-color: #C02929 !important;
    border-color: #C02929 !important;
}

.ui-button-secondary {
    min-width: 100px;
    padding: 0.5rem 1rem 0.5rem 2rem;
}

body .ui-button.ui-button-text-icon-left .ui-button-text {
    font-size: 14px;
}


body .ui-paginator .ui-paginator-pages .ui-paginator-page.ui-state-active {
    background: #ecf8f1;
    color: #226b40;
    font-weight: bold;
}

body .ui-paginator {
    background: #fff;
    border: solid #226b40;
}


body .ui-autocomplete-panel .ui-autocomplete-items .ui-autocomplete-item.ui-autocomplete-row>td {
    padding: 0.3rem 0.6rem;
}

body .ui-autocomplete-panel .ui-autocomplete-items .ui-autocomplete-item.ui-state-highlight {
    background: #ecf8f1;
    color: #226b40;
}


/******************************* ui-accordion *****************************/
body .ui-accordion .ui-accordion-header {
    border: 1px solid #226b40;
    border-top: 0 none;
    background: #ecf8f1;
    padding: 0.5em;
}

body .ui-accordion .ui-accordion-header.ui-state-active {
    background: #226b40;
    border-color: #226b40;
    color: #ecf8f1;
}

body .ui-accordion .ui-accordion-header:first-child {
    border-top: 1px solid #226b40;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

body .ui-accordion .ui-accordion-content {
    border: 1px solid #226b40;
    background: #fff;
    color: #43B572;
    padding: 0rem;
}

body .ui-tree .ui-tree-container .ui-treenode .ui-treenode-content .ui-treenode-leaf-icon {
    width: 2rem;
    height: 2rem;
    margin: 0 0.3rem 0 0;
}


.ui-autocomplete-multiple-container {
    clear: left;
    cursor: text;
    list-style-type: none;
    margin: 0;
    min-height: 1px;
    overflow: hidden;
    width: 100% !important;
    padding: 0.05rem 0.05rem;
}

body .ui-autocomplete .ui-autocomplete-multiple-container {
    padding: 0.05rem 0.05rem;
    width: 100% !important;
}

body .ui-autocomplete .ui-autocomplete-multiple-container .ui-autocomplete-token .ui-autocomplete-token-icon {
    margin-top: -0.75rem;
    position: absolute;
    font-family: "primeicons" !important;
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    color: brown;
    background: #ECF8F1 !important;
}

body .ui-autocomplete .ui-autocomplete-multiple-container .ui-autocomplete-token {
    background: #ECF8F1 !important;
}

.ui-autocomplete {
    width: 100%;
}

/* Bar de notification */
.notification-bar {
    display: block; /* Afficher la barre dès le début, mais hors écran */
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 20%;
    background-color: white;
    color: black;
    border-radius: 5px 0 0 5px;
    box-shadow: -4px 0px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    transform: translateX(100%); /* Commence hors de l'écran, à droite */
    z-index: 1000;
}

.notification-bar button {
    background-color: transparent;
    color: #0f6848;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.toggle-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.toggle-btn:hover {
    background-color: #0056b3;
}

.ui-growl {
    right: 55px;
    margin-top: -40px;
    font-size: 12px;
}
.ui-growl .ui-growl-item-container .ui-growl-item {
    background-color: #ECF8F1;
}
