
/* *** Element du graphe *** */
.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: #43B572;
    stroke-width: 1.5px;
}

.node text {
    font: 10px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}


/* *** Barre de chargement *** */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #43B572;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}

#myDiv {
    display: none;
    text-align: center;
}


/** Composant tooltip **/
.tooltip {
    background: rgba(0, 0, 0, 0.7); 
    border-style: solid; 
    border-width: 1px; 
    border-color: black; 
    border-top-right-radius: 0.5em; 
    font-size: 12px;
    color: white;
}

/** Les boutons **/
.btn {
    background-color: #43B572; 
    border: none;
    color: white; 
    padding: 6px;
    cursor: pointer;
}

.btn:hover {
    background-color: #f47b2a;
}





/** Champs Taille **/
.select {
    color: #43B572;
    width: 150px;
    height: 20px;
}
.select select {
    -webkit-appearance: none;
    padding: 7px 40px 7px 12px;
    width: 170px;
    border: 1px solid #43B572;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 1px 3px -2px #43B572;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    transition: all 150ms ease;
}
.select select:required:invalid {
    color: #43B572;
}
.select select option {
    color: #43B572;
}
.select select option[value=""][disabled] {
    display: none;
}
.select select:focus {
    outline: none;
    border-color: #43B572;
    box-shadow: 0 0 0 2px rgba(0,119,255,0.2);
}
.select select:hover + svg {
    stroke: #43B572;
}
.sprites {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
}



/** Champs URL **/
:root {
    --input-color: #43B572;
    --input-border: #43B572;
    --input-background: #fff;
    --input-placeholder: #CBD1DC;
    --input-border-focus: #f47b2a;
    --group-color: var(--input-color);
    --group-border: var(--input-border);
    --group-background: #EEF4FF;
    --group-color-focus: #fff;
    --group-border-focus: var(--input-border-focus);
    --group-background-focus: #f47b2a;
}

.form-field {
    display: block;
    width: 100%;
    padding: 8px 16px;
    line-height: 25px;
    font-size: 16px;
    font-weight: 500;
    font-family: inherit;
    border-radius: 6px;
    -webkit-appearance: none;
    border: 1px solid var(--input-border);
    background: var(--input-background);
    transition: border 0.3s ease;
}
.form-field::-moz-placeholder {
    color: var(--input-placeholder);
}
.form-field:-ms-input-placeholder {
    color: var(--input-placeholder);
}
.form-field::placeholder {
    color: var(--input-placeholder);
}
.form-field:focus {
    outline: none;
    border-color: var(--input-border-focus);
}

.form-group {
    position: relative;
    display: flex;
    width: 100%;
}
.form-group > span,
.form-group .form-field {
    white-space: nowrap;
    display: block;
}
.form-group > span:not(:first-child):not(:last-child),
.form-group .form-field:not(:first-child):not(:last-child) {
    border-radius: 0;
}
.form-group > span:first-child,
.form-group .form-field:first-child {
    border-radius: 6px 0 0 6px;
}
.form-group > span:last-child,
.form-group .form-field:last-child {
    border-radius: 0 6px 6px 0;
}
.form-group > span:not(:first-child),
.form-group .form-field:not(:first-child) {
    margin-left: -1px;
}
.form-group .form-field {
    position: relative;
    z-index: 1;
    flex: 1 1 auto;
    width: 1%;
    margin-top: 0;
    margin-bottom: 0;
}
.form-group > span {
    text-align: center;
    padding: 8px 12px;
    font-size: 14px;
    line-height: 25px;
    color: var(--group-color);
    background: var(--group-background);
    border: 1px solid var(--group-border);
    transition: background 0.3s ease, border 0.3s ease, color 0.3s ease;
}
.form-group:focus-within > span {
    color: var(--group-color-focus);
    background: var(--group-background-focus);
    border-color: var(--group-border-focus);
}